.chat {
    display: flex;
    flex-direction: column;
    border-left:solid 1px #505050;
    border-right:solid 1px #505050;
    height: 100%;
}

.chat-container {
    padding: 2em;
    height: 100%;
}

.chat-messages-scroller {
    overflow-y: scroll;
    height: calc(100vh - 6em - 30px - 30px);
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.message-bubble.sent {
    display: flex;
    background-color: #274924;
    min-height: 30px;
    border-radius: 50px;
    align-items: center;
    width:fit-content;
    padding: 0.5em 1em;
    margin-left: auto;
}

.message-bubble.received {
    display: flex;
    background-color: #414141;
    min-height: 30px;
    border-radius: 50px;
    align-items: center;
    width:fit-content;
    padding: 0.5em 1em;

}

.chat-input {
    height: 30px;
    background-color: #1e1e1e;
    border: 1px solid #585858;
    border-radius: 5px;
    width: 100%;
}

.chat-input-form {
    display: flex;
    width: 100%;
    margin-top: auto;
    gap: 10px;
}

.chat-header {
    margin-top:0;
}